@charset "UTF-8";
/*Шрифты*/
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 medium - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v18-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v18-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/*Переменные*/
/*Преднастройки*/
/*Преднастройки*/
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  height: 40px;
  padding-right: 20px;
  padding-left: 48px;
  border: 2px solid #f36d39;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.4s ease;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  color: #004167;
  background-color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #f36d39;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  border: 0;
  padding: 0;
  clip: rect 0 0 0 0;
  overflow: hidden;
  z-index: -1;
}

body {
  font-family: roboto, arial, sans-serif;
  color: #636363;
  font-size: 15px;
  background-color: #fff;
}

.color {
  width: 100%;
  height: 100px;
  background-color: lightblue;
}

/*Первая линия хеадера*/
/*Первая линия хедора*/
.first-line__line-design {
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.header-first-line {
  width: 1170px;
  height: 50px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  color: #5a5a5a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*background-color:hsla(290,70%,30%,0.3);*/
}

.sity-choise {
  height: 36px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
  padding-left: 0;
  border: 0px solid #000;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  background-color: #fff;
  cursor: pointer;
}

.sity-choise::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 3px, #fff 3px, #fff 4px);
  background-color: #5a5a5a;
  transition: all 0.4s ease;
}

.sity-choise:hover {
  background-color: #fff;
  color: #5a5a5a;
}

.sity-choise:hover::after {
  background-image: repeating-linear-gradient(90deg, transparent, transparent 3px, #fff 3px, #fff 4px);
  background-color: #f36d39;
}

.sity-number {
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  transition: all 0.4s ease;
}
.sity-number:hover {
  color: #f36d39;
}

.header-mail {
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 8px;
  transition: all 0.4s ease;
}
.header-mail:hover {
  color: #f36d39;
}

.first-line__nav {
  margin-left: auto;
  margin-right: 25px;
}
.first-line__nav ul {
  text-align: right;
}
.first-line__nav ul li {
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  text-align: right;
}
.first-line__nav ul li a {
  transition: all 0.4s ease;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: #5a5a5a;
}
.first-line__nav ul li a:hover {
  color: #f36d39;
}

.lang-select {
  font-size: 0;
}
.lang-select a {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 14px;
  border-radius: 50%;
  overflow: hidden;
  background-color: aqua;
  transition: all 0.4s ease;
}
.lang-select a.lang-on-1 {
  background-image: url(../img/ru.png);
}
.lang-select a.lang-on-2 {
  background-image: url(../img/en.png);
}
.lang-select a:first-child {
  box-shadow: inset 0px 0px 0px 2px #f36d39;
  margin-right: 10px;
}
.lang-select a:first-child:hover {
  box-shadow: inset 0px 0px 5px 2px #f36d39;
}
.lang-select a:last-child {
  box-shadow: inset 0px 0px 0px 2px #fff;
}
.lang-select a:last-child:hover {
  box-shadow: inset 0px 0px 5px 2px #f36d39;
}

/*Вторая линия хеадера*/
.header-second-line {
  width: 1170px;
  height: 120px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  color: #5a5a5a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-second-line a {
  margin-top: 32px;
  margin-right: 72px;
}

.main-search {
  margin-top: 40px;
  position: relative;
  width: 400px;
}
.main-search input {
  width: 100%;
  height: 40px;
  padding-left: 25px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  background: #fff;
  color: #636363;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.4s ease;
}
.main-search input:active {
  border: 2px solid #f36d39;
}
.main-search input:hover {
  border: 2px solid #f36d39;
}
.main-search input:focus {
  border: 2px solid #f36d39;
}
.main-search button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 55px;
  height: 40px;
  padding-left: 0;
  border: none;
  background: #f36d39;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-search button:before {
  content: "";
  display: block;
  margin-left: 18px;
  width: 16px;
  height: 16px;
  background-image: url(../img/search-ico.png);
}

.button-container {
  margin-left: auto;
}

.call-order {
  position: relative;
  margin-left: 0px;
  margin-top: 40px;
}
.call-order:before {
  content: "";
  position: absolute;
  left: 18px;
  top: 10px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/call-order.png);
}
.call-order:hover::before {
  background-image: url(../img/call-order-hover.png);
}

.question-order {
  position: relative;
  margin-left: 20px;
  margin-top: 40px;
}
.question-order:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 9px;
  display: block;
  width: 12px;
  height: 17px;
  background-image: url(../img/q-order.png);
}
.question-order:hover::before {
  background-image: url(../img/q-order-hover.png);
}

/*Третья линия хедора*/
.third-line__line-design {
  display: block;
  width: 100%;
  background-color: #004167;
}

.sertificat-navigations {
  width: 1170px;
  height: 60px;
  margin: 0 auto;
}
.sertificat-navigations ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sertificat-navigations button {
  position: relative;
  line-height: 60px;
  height: 60px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: #004167;
  color: #fff;
}
.sertificat-navigations button::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #004167;
  transition: all 0.4s ease;
}
.sertificat-navigations button:hover::before {
  bottom: 2px;
  background-color: #f36d39;
  transform: scaleY(5);
}
.sertificat-navigations button:active::before {
  height: 5px;
  background-color: #f36d39;
}

.sertification-links-container {
  width: 100%;
  background-color: #fff;
}

.sertification-links {
  width: 1170px;
  height: 345px;
  margin: 0 auto;
  margin-top: 29px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sertification-links li {
  width: 270px;
  padding-bottom: 12px;
  padding-right: 30px;
}
.sertification-links li a {
  padding: 7px;
  padding-left: 0;
  padding-right: 0;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  transition: all 0.4s ease;
}
.sertification-links li a:hover {
  color: #f36d39;
}

/*Карусель*/
.main-slider__container {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 350px;
  background-color: #004167;
}

.main-slider {
  width: 1170px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}
.main-slider .slider-item {
  width: 1170px;
  height: 350px;
}
.main-slider .slider-item .slider-shadow {
  position: absolute;
  z-index: -5;
  background-color: #004167;
  opacity: 0.65;
}
.main-slider .slider-item h2 {
  font: roboto, arial, sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  line-height: 36px;
  margin-top: 120px;
  opacity: 1;
}
.main-slider .slider-item a {
  display: inline-block;
  height: 40px;
  margin-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.4s ease;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  line-height: 40px;
  color: #fff;
  background-color: #f36d39;
}
.main-slider .slider-item a:hover {
  background-color: #e05b28;
}

/*ЗДЕСЬ ВСТАВЛЯЮТСЯ КАРТИНКИ*/
.slider-img {
  position: absolute;
  z-index: -4;
  width: 1170px;
  height: 350px;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: inset 150px 0px 150px -15px #004167, inset -150px 0 150px -15px #004167;
}

.slider-img.slide-1 {
  background-image: url(../img/main-slider-1.jpg);
}

.slider-img.slide-2 {
  background-image: url(../img/main-slider-2.jpg);
}

.slider-img.slide-3 {
  background-image: url(../img/main-slider-1.jpg);
}

.slider-img.slide-4 {
  background-image: url(../img/main-slider-2.jpg);
}

.slider-img.slide-5 {
  background-image: url(../img/main-slider-1.jpg);
}

.slider-title {
  position: relative;
  z-index: 11;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/*красивые дотсы по дизайну*/
.slick-dots {
  position: absolute;
  bottom: 5px;
}

.slick-dots li button {
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}
.slick-dots li button:hover {
  border: 2px solid #fff;
}

.slick-dots li button:before {
  content: '';
  position: absolute;
  /*    top: 2px;
      left: 2px;*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f36d39;
  opacity: 0;
  transition: all ease 0.3s;
}

.slick-dots li.slick-active button {
  border: 2px solid #fff;
}

.slick-dots li.slick-active button {
  border: 2px solid #fff;
}

.slick-dots li.slick-active button:before {
  content: '';
  position: absolute;
  /*    top: 2px;
      left: 2px;
  */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f36d39;
  opacity: 1;
}

/*стилизую стрелочки*/
.slick-prev, .slick-next {
  z-index: 1001;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
}

.slick-prev:before, .slick-next:before {
  opacity: 1;
}

.slick-prev {
  top: 170px;
  left: -56px;
}

.slick-next {
  top: 170px;
  right: -56px;
}

.slick-prev:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-color: #004167;
  background-image: url(../img/prev.png);
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.4s ease;
}

.slick-prev:hover:before {
  background-color: #004167;
  background-image: url(../img/prev-hover.png);
}

.slick-next:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-color: #004167;
  background-image: url(../img/prev.png);
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.4s ease;
  transform: rotate(180deg);
}

.slick-next:hover:before {
  background-color: #004167;
  background-image: url(../img/prev-hover.png);
}

/*# sourceMappingURL=s-style.css.map */
