@charset "UTF-8";
/*Шрифты*/
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 medium - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v18-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v18-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/*Переменные*/
/*Преднастройки*/
/*Преднастройки*/
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  height: 40px;
  padding-right: 20px;
  padding-left: 48px;
  border: 2px solid #f36d39;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.4s ease;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  color: #004167;
  background-color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #f36d39;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  border: 0;
  padding: 0;
  clip: rect 0 0 0 0;
  overflow: hidden;
  z-index: -1;
}

body {
  font-family: roboto, arial, sans-serif;
  color: #636363;
  font-size: 15px;
  background-color: #fff;
}

.color {
  width: 100%;
  height: 100px;
  background-color: lightblue;
}

/*Первая линия хеадера*/
/*Первая линия хедора*/
.first-line__line-design {
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.header-first-line {
  width: 1170px;
  height: 50px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  color: #5a5a5a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*background-color:hsla(290,70%,30%,0.3);*/
}

.sity-choise {
  height: 36px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
  padding-left: 0;
  border: 0px solid #000;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  background-color: #fff;
  cursor: pointer;
}

.sity-choise::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 3px, #fff 3px, #fff 4px);
  background-color: #5a5a5a;
  transition: all 0.4s ease;
}

.sity-choise:hover {
  background-color: #fff;
  color: #5a5a5a;
}

.sity-choise:hover::after {
  background-image: repeating-linear-gradient(90deg, transparent, transparent 3px, #fff 3px, #fff 4px);
  background-color: #f36d39;
}

.sity-number {
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  transition: all 0.4s ease;
}
.sity-number:hover {
  color: #f36d39;
}

.header-mail {
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 8px;
  transition: all 0.4s ease;
}
.header-mail:hover {
  color: #f36d39;
}

.first-line__nav {
  margin-left: auto;
  margin-right: 25px;
}
.first-line__nav ul {
  text-align: right;
}
.first-line__nav ul li {
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  text-align: right;
}
.first-line__nav ul li a {
  transition: all 0.4s ease;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: #5a5a5a;
}
.first-line__nav ul li a:hover {
  color: #f36d39;
}

.lang-select {
  font-size: 0;
}
.lang-select a {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 14px;
  border-radius: 50%;
  overflow: hidden;
  background-color: aqua;
  transition: all 0.4s ease;
}
.lang-select a.lang-on-1 {
  background-image: url(../img/ru.png);
}
.lang-select a.lang-on-2 {
  background-image: url(../img/en.png);
}
.lang-select a:first-child {
  box-shadow: inset 0px 0px 0px 2px #f36d39;
  margin-right: 10px;
}
.lang-select a:first-child:hover {
  box-shadow: inset 0px 0px 5px 2px #f36d39;
}
.lang-select a:last-child {
  box-shadow: inset 0px 0px 0px 2px #fff;
}
.lang-select a:last-child:hover {
  box-shadow: inset 0px 0px 5px 2px #f36d39;
}

/*Вторая линия хеадера*/
.header-second-line {
  width: 1170px;
  height: 120px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  color: #5a5a5a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-second-line a {
  margin-top: 32px;
  margin-right: 72px;
}

.main-search {
  margin-top: 40px;
  position: relative;
  width: 400px;
}
.main-search input {
  width: 100%;
  height: 40px;
  padding-left: 25px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  background: #fff;
  color: #636363;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.4s ease;
}
.main-search input:active {
  border: 2px solid #f36d39;
}
.main-search input:hover {
  border: 2px solid #f36d39;
}
.main-search input:focus {
  border: 2px solid #f36d39;
}
.main-search button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 55px;
  height: 40px;
  padding-left: 0;
  border: none;
  background: #f36d39;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-search button:before {
  content: "";
  display: block;
  margin-left: 18px;
  width: 16px;
  height: 16px;
  background-image: url(../img/search-ico.png);
}

.button-container {
  margin-left: auto;
}
.button-container button {
  transition: background-color 0.4s ease;
}

.call-order {
  position: relative;
  margin-left: 0px;
  margin-top: 40px;
}
.call-order:before {
  content: "";
  position: absolute;
  left: 18px;
  top: 10px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/call-order.png);
}
.call-order:hover::before {
  background-image: url(../img/call-order-hover.png);
}

.question-order {
  position: relative;
  margin-left: 20px;
  margin-top: 40px;
}
.question-order:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 9px;
  display: block;
  width: 12px;
  height: 17px;
  background-image: url(../img/q-order.png);
}
.question-order:hover::before {
  background-image: url(../img/q-order-hover.png);
}

/*Третья линия хедора*/
.third-line__line-design {
  display: block;
  width: 100%;
  background-color: #004167;
}

.sertificat-navigations {
  width: 1170px;
  height: 60px;
  margin: 0 auto;
}
.sertificat-navigations ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sertificat-navigations button {
  position: relative;
  line-height: 60px;
  height: 60px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: #004167;
  color: #fff;
}
.sertificat-navigations button::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #004167;
  transition: all 0.4s ease;
}
.sertificat-navigations button:hover::before {
  bottom: 2px;
  background-color: #f36d39;
  transform: scaleY(5);
}
.sertificat-navigations button:active::before {
  height: 5px;
  background-color: #f36d39;
}

.sertification-links-container {
  width: 100%;
  background-color: #fff;
}

.sertification-links {
  width: 1170px;
  height: 345px;
  margin: 0 auto;
  margin-top: 29px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sertification-links li {
  width: 270px;
  padding-bottom: 12px;
  padding-right: 30px;
}
.sertification-links li a {
  padding: 7px;
  padding-left: 0;
  padding-right: 0;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  transition: all 0.4s ease;
}
.sertification-links li a:hover {
  color: #f36d39;
}

/*Карусель*/
.main-slider__container {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 350px;
  background-color: #004167;
}

.main-slider {
  width: 1170px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}
.main-slider .slider-item {
  width: 1170px;
  height: 350px;
}
.main-slider .slider-item .slider-shadow {
  position: absolute;
  z-index: -5;
  background-color: #004167;
  opacity: 0.65;
}
.main-slider .slider-item h2 {
  font: roboto, arial, sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  line-height: 36px;
  margin-top: 120px;
  opacity: 1;
}
.main-slider .slider-item a {
  display: inline-block;
  height: 40px;
  margin-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.4s ease;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  line-height: 40px;
  color: #fff;
  background-color: #f36d39;
}
.main-slider .slider-item a:hover {
  background-color: #e05b28;
}

/*ЗДЕСЬ ВСТАВЛЯЮТСЯ КАРТИНКИ*/
.slider-img {
  position: absolute;
  z-index: -4;
  width: 1170px;
  height: 350px;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: inset 150px 0px 150px -15px #004167, inset -150px 0 150px -15px #004167;
}

.slider-img.slide-1 {
  background-image: url(../img/main-slider-1.jpg);
}

.slider-img.slide-2 {
  background-image: url(../img/main-slider-2.jpg);
}

.slider-img.slide-3 {
  background-image: url(../img/main-slider-1.jpg);
}

.slider-img.slide-4 {
  background-image: url(../img/main-slider-2.jpg);
}

.slider-img.slide-5 {
  background-image: url(../img/main-slider-1.jpg);
}

.slider-title {
  position: relative;
  z-index: 11;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/*красивые дотсы по дизайну*/
.slick-dots {
  position: absolute;
  bottom: 5px;
}

.slick-dots li button {
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}
.slick-dots li button:hover {
  border: 2px solid #fff;
}

.slick-dots li button:before {
  content: '';
  position: absolute;
  /*    top: 2px;
      left: 2px;*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f36d39;
  opacity: 0;
  transition: all ease 0.3s;
}

.slick-dots li.slick-active button {
  border: 2px solid #fff;
}

.slick-dots li.slick-active button {
  border: 2px solid #fff;
}

.slick-dots li.slick-active button:before {
  content: '';
  position: absolute;
  /*    top: 2px;
      left: 2px;
  */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f36d39;
  opacity: 1;
}

/*стилизую стрелочки*/
.slick-prev, .slick-next {
  z-index: 1001;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
}

.slick-prev:before, .slick-next:before {
  opacity: 1;
}

.slick-prev {
  top: 170px;
  left: -56px;
}

.slick-next {
  top: 170px;
  right: -56px;
}

.slick-prev:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-color: #004167;
  background-image: url(../img/prev.png);
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.4s ease;
}

.slick-prev:hover:before {
  background-color: #004167;
  background-image: url(../img/prev-hover.png);
}

.slick-next:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-color: #004167;
  background-image: url(../img/prev.png);
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.4s ease;
  transform: rotate(180deg);
}

.slick-next:hover:before {
  background-color: #004167;
  background-image: url(../img/prev-hover.png);
}

/*О компании и первая форма*/
.about-company {
  width: 1170px;
  margin: 0 auto;
  padding-top: 57px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.about-company__description {
  display: inline-block;
  width: 570px;
}
.about-company__description h2 {
  margin-top: 0;
  padding-top: 0;
  width: 550px;
  font: roboto, arial, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #004167;
}
.about-company__description p {
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  line-height: 21px;
  padding-left: 2px;
  padding-top: 22px;
}

.company-features {
  margin-left: 33px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}
.company-features div {
  width: 170px;
  height: 150px;
  border: 1px solid #e7e7e7;
  text-align: center;
}
.company-features div b {
  display: inline-block;
  padding-top: 28px;
  font: roboto, arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  color: #004167;
}
.company-features div p {
  padding-top: 9px;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 15px;
  vertical-align: top;
  line-height: 18px;
}

.company-form__container {
  margin-left: auto;
  width: 370px;
  height: 100%;
  border: 2px solid #004167;
}
.company-form__container form {
  height: 500px;
  margin: 2px;
  border: 2px solid #f36d39;
}
.company-form__container form h2 {
  padding-top: 35px;
  text-align: center;
  font: roboto, arial, sans-serif;
  color: #004167;
  font-size: 20px;
  font-weight: 500;
}
.company-form__container form p {
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 15px;
  font: roboto, arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.company-form__container form input {
  display: block;
  height: 40px;
  width: 300px;
  padding-left: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: 0;
  transition: all 0.4s ease;
}
.company-form__container form input:hover {
  border: 2px solid #f36d39;
}
.company-form__container form input:focus {
  border: 2px solid #f36d39;
}
.company-form__container form button {
  display: block;
  height: 40px;
  width: 300px;
  padding-left: 20px;
  margin: 0 auto;
  margin-bottom: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #f36d39;
}
.company-form__container form button:hover {
  background-color: #e05b28;
}
.company-form__container form button:focus {
  outline: 0;
  background-color: #e05b28;
}

.visualization-check {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  font-family: roboto, arial, sans-serif;
  font-size: 12px;
  color: #636363;
  line-height: 12px;
  padding: 18px 0;
}
.visualization-check a {
  color: #636363;
  text-decoration: underline;
  transition: all 0.4s ease;
}
.visualization-check a:hover {
  color: #f36d39;
}

#company-first-form-check {
  width: 2px;
  height: 2px;
  right: 4px;
  top: 5px;
  position: relative;
  z-index: -100;
  opacity: 0;
}

.visualization-check-label {
  position: relative;
}

.visualization-check-label::before {
  content: '';
  position: absolute;
  left: -30px;
  top: -5px;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url(../img/no-cheked.png);
}

#company-first-form-check:checked + label::before {
  background-image: url(../img/cheked.png);
}

/*Карусель со спецами*/
.sert-specialists h2 {
  display: block;
  width: 1170px;
  margin: 0 auto;
  margin-top: 86px;
  padding: 0;
  font-family: roboto, arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  color: #004167;
}

.specialists-carousel {
  width: 1170px;
  margin: 0 auto;
  margin-top: 27px;
  /*стилизую стрелочки*/
}
.specialists-carousel img {
  border: 2px solid #f36d39;
  float: left;
  margin-left: 13px;
  margin-top: 13px;
  margin-right: 11px;
}
.specialists-carousel h3 {
  margin-top: 22px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #004167;
}
.specialists-carousel p {
  display: inline-block;
  font-size: 15px;
  margin-top: 7px;
  color: #636363;
  padding-left: 2px;
}
.specialists-carousel a {
  display: inline-block;
  margin-top: 0px;
  text-decoration: underline;
  color: #008ada;
  padding-left: 2px;
  transition: all 0.4s ease;
}
.specialists-carousel a:hover {
  color: #f36d39;
}
.specialists-carousel .slick-prev, .specialists-carousel .slick-next {
  z-index: 1001;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
}
.specialists-carousel .slick-prev:before, .specialists-carousel .slick-next:before {
  opacity: 1;
}
.specialists-carousel .slick-prev {
  top: 48px;
  left: -56px;
}
.specialists-carousel .slick-next {
  top: 48px;
  right: -56px;
}
.specialists-carousel .slick-prev:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  background-image: url(../img/slick-prev.png);
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.specialists-carousel .slick-prev:hover:before {
  background-color: #fff;
  background-image: url(../img/slick-next.png);
}
.specialists-carousel .slick-next:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  background-image: url(../img/slick-prev.png);
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.4s ease;
  transform: rotate(180deg);
}
.specialists-carousel .slick-next:hover:before {
  background-color: #fff;
  background-image: url(../img/slick-next.png);
}

.specialist-container {
  height: 104px;
  width: 271px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 0 15px;
}

/*Новости и вопросы*/
.size {
  white-space: nowrap;
  /* Отменяем перенос текста */
  overflow: hidden;
  /* Обрезаем содержимое */
  padding: 5px;
  /* Поля */
  text-overflow: ellipsis;
  /* Многоточие */
}

.size:hover {
  background: #f0f0f0;
  /* Цвет фона */
  white-space: normal;
  /* Обычный перенос текста */
}

.box {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-questions {
  width: 1170px;
  margin: 0 auto;
  margin-top: 90px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.news-questions h2 {
  font-size: 30px;
  font-weight: 500;
  color: #004167;
}

.news, .questions {
  padding-top: 34px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 570px;
  height: 530px;
  background-color: #f2f5f7;
}

.news-descriptions a {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  display: inline-block;
  width: 490px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.4s ease;
  color: #008ada;
}
.news-descriptions a:hover {
  color: #f36d39;
}
.news-descriptions i {
  display: block;
  margin-top: 2px;
  font-size: 12px;
  font-style: normal;
}
.news-descriptions p {
  margin-top: 9px;
  display: inline-block;
  width: 460px;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-descriptions:last-child {
  margin-bottom: 0px;
}

.all-news, .all-questions {
  display: inline-block;
  height: 40px;
  padding: 0 35px;
  margin-top: 26px;
  border: 2px solid #f36d39;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 36px;
  font-size: 15px;
  font-weight: 400;
  color: #004167;
  background-color: #f2f5f7;
  transition: background-color 0.4s ease;
}
.all-news:hover, .all-questions:hover {
  color: #fff;
  background-color: #f36d39;
}

.all-news {
  margin-top: 28px;
}

.questions div {
  margin-top: 15px;
}
.questions div a {
  padding-top: 5px;
  padding-bottom: 11px;
  /*margin-bottom: 17px;*/
  line-height: 15px;
  display: inline-block;
  width: 490px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.4s ease;
  color: #008ada;
}
.questions div a:hover {
  color: #f36d39;
}
.questions div a:last-child {
  padding-bottom: 0px;
}

/*Отзывы*/
.reviews {
  width: 1170px;
  margin: 0 auto;
  margin-top: 90px;
}
.reviews h2 {
  display: block;
  width: 1170px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0;
  font-family: roboto, arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  color: #004167;
}

.reviews-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.reviews-quote {
  width: 970px;
  font-size: 0;
}
.reviews-quote div {
  vertical-align: top;
  margin-top: 27px;
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 68px;
  font-size: 15px;
  display: inline-block;
  width: 470px;
  height: 211px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.reviews-quote div:first-child {
  margin-right: 30px;
}
.reviews-quote div p {
  position: relative;
  line-height: 21px;
}
.reviews-quote div p:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  display: block;
  width: 19px;
  height: 18px;
  background-image: url(../img/quote.png);
}
.reviews-quote div i {
  display: inline-block;
  padding-top: 15px;
  font-style: normal;
  color: #004167;
}
.reviews-quote a {
  display: inline-block;
  height: 40px;
  font-size: 15px;
  line-height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 34px;
  padding: 0 37px;
  border: 2px solid #f36d39;
  border-radius: 20px;
  color: #004167;
  transition: background-color 0.4s linear;
}
.reviews-quote a:hover {
  background-color: #f36d39;
  color: #fff;
}

.thx-letter {
  display: inline-block;
  width: 170px;
  text-align: center;
  margin-left: 30px;
  margin-top: 24px;
}
.thx-letter img {
  border: 2px solid #fff;
  transition: all 0.4s ease;
}
.thx-letter img:hover {
  border: 2px solid #f36d39;
}
.thx-letter .thx-letter-link {
  display: inline-block;
  height: 40px;
  font-size: 15px;
  line-height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0 32px;
  border: 2px solid #f36d39;
  border-radius: 20px;
  color: #004167;
  transition: background-color 0.4s linear;
}
.thx-letter .thx-letter-link:hover {
  background-color: #f36d39;
  color: #fff;
}

/*Наши клиенты*/
.clients {
  width: 1170px;
  margin: 0 auto;
}
.clients h2 {
  margin-top: 85px;
  margin-bottom: 17px;
  margin-left: 15px;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #004167;
}

.clients-slick {
  width: 1170px;
  margin: 0 auto;
}
.clients-slick a {
  display: inline-block;
  width: 100px;
  margin: 0 15px;
  height: 35px;
}
.clients-slick .clients-slick__item-1 {
  background-image: url(../img/our-clients-100.jpg);
  transition: all 0.4s ease;
}
.clients-slick .clients-slick__item-1:hover {
  background-image: url(../img/our-clients-100-hover.jpg);
}
.clients-slick .clients-slick__item-2 {
  background-image: url(../img/our-clients-minprom.jpg);
  transition: all 0.4s ease;
}
.clients-slick .clients-slick__item-2:hover {
  background-image: url(../img/our-clients-minprom-hover.jpg);
}
.clients-slick .clients-slick__item-3 {
  background-image: url(../img/our-clients-gaverment.jpg);
  transition: all 0.4s ease;
}
.clients-slick .clients-slick__item-3:hover {
  background-image: url(../img/our-clients-gaverment-hover.jpg);
}
.clients-slick .clients-slick__item-4 {
  background-image: url(../img/our-clients-rosteh.jpg);
  transition: all 0.4s ease;
}
.clients-slick .clients-slick__item-4:hover {
  background-image: url(../img/our-clients-rosteh-hover.jpg);
}
.clients-slick .clients-slick__item-5 {
  background-image: url(../img/our-clients-rostreb.jpg);
  transition: all 0.4s ease;
}
.clients-slick .clients-slick__item-5:hover {
  background-image: url(../img/our-clients-rostreb-hover.jpg);
}
.clients-slick .clients-slick__item-6 {
  background-image: url(../img/our-clients-minust.jpg);
  transition: all 0.4s ease;
}
.clients-slick .clients-slick__item-6:hover {
  background-image: url(../img/our-clients-minust-hover.jpg);
}
.clients-slick .clients-slick__item-7 {
  background-image: url(../img/our-clients-vniis.jpg);
  transition: all 0.4s ease;
}
.clients-slick .clients-slick__item-7:hover {
  background-image: url(../img/our-clients-vniis-hover.jpg);
}
.clients-slick .clients-slick__item-8 {
  background-image: url(../img/our-clients-tamo.jpg);
  transition: all 0.4s ease;
}
.clients-slick .clients-slick__item-8:hover {
  background-image: url(../img/our-clients-tamo-hover.jpg);
}
.clients-slick .clients-slick__item-9 {
  background-image: url(../img/our-clients-vniimash.jpg);
  transition: all 0.4s ease;
}
.clients-slick .clients-slick__item-9:hover {
  background-image: url(../img/our-clients-vniimash-hover.jpg);
}

/*Подписка*/
.subscribe {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  border: 2px solid #004167;
}
.subscribe form {
  margin: 2px;
  height: 76px;
  border: 2px solid #f36d39;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.subscribe p {
  display: inline-block;
  padding-left: 28px;
  padding-right: 55px;
  line-height: 72px;
}
.subscribe input {
  display: inline-block;
  height: 40px;
  width: 300px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 20px;
  color: #949494;
  outline: 0;
  transition: all 0.4s ease;
}
.subscribe input:hover {
  border: 2px solid #f36d39;
}
.subscribe input:focus {
  border: 2px solid #f36d39;
}
.subscribe button {
  display: inline-block;
  height: 40px;
  margin-top: 15px;
  margin-left: 23px;
  padding: 0 35px;
  margin-bottom: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: roboto, arial, sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #f36d39;
}
.subscribe button:hover {
  background-color: #e05b28;
}
.subscribe button:focus {
  outline: 0;
  background-color: #e05b28;
}

/*Футер*/
footer {
  background-color: #f2f5f7;
}

.footer-container {
  width: 1170px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.foot-logo img {
  margin-top: 40px;
  margin-bottom: 55px;
}
.foot-logo p {
  width: 200px;
  margin-bottom: 40px;
}

.foot-menu {
  margin-left: 100px;
  width: 200px;
  margin-top: 36px;
}
.foot-menu li {
  display: block;
}
.foot-menu li a {
  font-size: 15px;
  line-height: 27px;
  color: #5a5a5a;
  transition: all 0.4s linear;
}
.foot-menu li a:hover {
  color: #f36d39;
}

.foot-contacts {
  margin-left: 65px;
  margin-right: auto;
  width: 275px;
}
.foot-contacts .sity-choise {
  display: block;
  margin-top: 30px;
  background-color: #f2f5f7;
}
.foot-contacts .sity-choise:hover {
  background-color: #f2f5f7;
}
.foot-contacts .sity-number {
  margin-top: 0;
  padding-left: 0;
}
.foot-contacts .header-mail {
  margin-top: 0;
  padding-top: 9px;
}
.foot-contacts .call-order {
  margin-top: 20px;
  background-color: #f2f5f7;
}
.foot-contacts .call-order:hover {
  background-color: #f36d39;
}
.foot-contacts a {
  display: inline-block;
}

.foot-social p {
  margin-top: 40px;
  display: block;
}
.foot-social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  transition: all 0.4s ease;
  margin-right: 1px;
}
.foot-social .foot-vk {
  background-image: url(../img/foot-vk.png);
}
.foot-social .foot-vk:hover {
  background-image: url(../img/foot-vk-hover.png);
}
.foot-social .foot-face {
  background-image: url(../img/foot-face.png);
}
.foot-social .foot-face:hover {
  background-image: url(../img/foot-face-hover.png);
}
.foot-social .foot-google {
  background-image: url(../img/foot-google.png);
}
.foot-social .foot-google:hover {
  background-image: url(../img/foot-google-hover.png);
}
.foot-social .foot-odno {
  background-image: url(../img/foot-odno.png);
}
.foot-social .foot-odno:hover {
  background-image: url(../img/foot-odno-hover.png);
}
.foot-social .foot-mail {
  background-image: url(../img/foot-mail.png);
}
.foot-social .foot-mail:hover {
  background-image: url(../img/foot-mail-hover.png);
}
.foot-social .foot-flamp {
  background-image: url(../img/foot-flamp.png);
}
.foot-social .foot-flamp:hover {
  background-image: url(../img/foot-flamp-hover.png);
}
.foot-social .foot-twit {
  background-image: url(../img/foot-twit.png);
}
.foot-social .foot-twit:hover {
  background-image: url(../img/foot-twit-hover.png);
}

/*# sourceMappingURL=s-style.css.map */
