.about-company {
  width: 1170px;
  margin: 0 auto;
  padding-top: 57px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.about-company__description {
  display: inline-block;
  width: 570px;
  h2 {
    margin-top: 0;
    padding-top: 0;
    width: 550px;
    font: $ff;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #004167;
  }
  p {
    @include m-font;
    line-height: 21px;
    padding-left: 2px;
    padding-top: 22px;
  }
}


.company-features {
  margin-left: 33px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;

  div {
    width: 170px;
    height: 150px;
    border: 1px solid #e7e7e7;
    text-align: center;


    b{
      display: inline-block;
      padding-top: 28px;
      font: $ff;
      font-size: 36px;
      line-height: 36px;
      font-weight: 500;
      color:#004167;
    }
    p {
      padding-top: 9px;
      @include m-font;
      line-height: 18px;
    }
  }
}

.company-form__container {
  margin-left: auto;
  width: 370px;
  height: 100%;
  border: 2px solid $blue;

  form {
    height: 500px;
    margin:2px;
    border: 2px solid $orange;

    h2{
      padding-top: 35px;
      text-align: center;
      font: $ff;
      color: $blue;
      font-size: 20px;
      font-weight: 500;
    }
    p {
      width: 280px;
      margin: 0 auto;
      padding-top: 20px;
      padding-bottom: 15px;

      font: $ff;
      font-size: 12px;
      line-height: 18px;
    }
    input {
      display: block;
      height: 40px;
      width: 300px;
      padding-left: 20px;
      margin: 0 auto;
      margin-bottom: 10px;
      @include bxbb;
      font-family: $ff;
      font-size: 15px;
      border: 2px solid #ccc;
      border-radius: 20px;
      outline: 0;
      @include trns;
      &:hover {
        border: 2px solid #f36d39;
      };
      &:focus {
        border: 2px solid #f36d39;
      };

    }
    button {
      display: block;
      height: 40px;
      width: 300px;
      padding-left: 20px;
      margin: 0 auto;

      margin-bottom: 38px;
      @include bxbb;
      font-family: $ff;
      font-size: 15px;
      color: #fff;
      background-color: #f36d39;
      &:hover {
        background-color: #e05b28;
      };
      &:focus {
        outline: 0;
        background-color: #e05b28;
      };
    }
  }
}

.visualization-check {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  font-family: $ff;
  font-size: 12px;
  color: #636363;
  line-height: 12px;
  padding: 18px 0;

  a {
    color: #636363;
    text-decoration: underline;
    @include trns;
    &:hover {
    color: $orange;
    };
  }
}


#company-first-form-check {
  width: 2px;
  height: 2px;
  right: 4px;
  top: 5px;
  position: relative;
  z-index: -100;
  opacity: 0;
}
.visualization-check-label {
  position: relative;
}
.visualization-check-label::before {
  content: '';

  position: absolute;
  left: -30px;
  top: -5px;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;

  background-image: url(../img/no-cheked.png);

}

#company-first-form-check:checked + label::before {
  background-image: url(../img/cheked.png);
}
