.reviews {
  width: 1170px;
  margin: 0 auto;
  margin-top: 90px;

  h2 {
    display: block;
    width: 1170px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0;

    font-family: $ff;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: $blue;
  }
}

.reviews-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

}

.reviews-quote {
  width: 970px;
  font-size: 0;


  div {
    vertical-align: top;
    margin-top: 27px;
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 68px;
    font-size: 15px;
    display: inline-block;
    width: 470px;
    height: 211px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    @include bxbb;
    &:first-child {
      margin-right: 30px;
    };
    p {
      position: relative;
      line-height: 21px;
      &:before {
        content: '';
        position: absolute;
        top: -30px;
        left: 0;
        display: block;

        width: 19px;
        height: 18px;
        background-image: url(../img/quote.png);
      };
    }
    i {
      display: inline-block;
      padding-top: 15px;
      font-style: normal;
      color: $blue;
    }
  }

  a {
    display: inline-block;
    height: 40px;
    font-size: 15px;
    line-height: 38px;
    @include bxbb;
    margin-top: 34px;
    padding: 0 37px;

    border: 2px solid $orange;
    border-radius: 20px;
    color: $blue;
    transition: background-color 0.4s linear;
    &:hover {
      background-color: $orange;
      color: #fff;
    };
  }
}

.thx-letter{
  display: inline-block;
  width: 170px;
  text-align: center;
  margin-left: 30px;
  margin-top: 24px;

  img{
    border: 2px solid #fff;
    @include trns;
  }
  img:hover {
    border: 2px solid $orange;
  }


  .thx-letter-link {
    display: inline-block;
    height: 40px;
    font-size: 15px;
    line-height: 38px;
    @include bxbb;
    margin-top: 30px;
    padding: 0 32px;

    border: 2px solid $orange;
    border-radius: 20px;
    color: $blue;
    transition: background-color 0.4s linear;
    &:hover {
      background-color: $orange;
      color: #fff;
    };
  }
}



