.header-second-line {
  width: 1170px;
  height: 120px;
  margin: 0 auto;
  display: -webkit-flex;
     display: -moz-flex;
      display: -ms-flex;
       display: -o-flex;
          display: flex;
  color: #5a5a5a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  a {
    margin-top: 32px;
    margin-right: 72px;
  }
}


.main-search {
  margin-top: 40px;
  position: relative;
  width: 400px;

  input {
    width: 100%;
    height: 40px;
    padding-left: 25px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    background: #fff;
    color: #636363;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @include trns;
    &:active {
    border: 2px solid $orange;
    };
    &:hover {
    border: 2px solid $orange;
    };
    &:focus {
    border: 2px solid $orange;

    };
  }

  button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 55px;
    height: 40px;
    padding-left: 0;
    border: none;
    background: $orange;
    border-radius: 0 20px 20px 0;
    cursor: pointer;

    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      &:before {
        content: "";
        display: block;
        margin-left: 18px;
        width: 16px;
        height: 16px;
        background-image: url(../img/search-ico.png);
      }
  }
}

.button-container {
  margin-left: auto;
}
.call-order {
  position: relative;
  margin-left: 0px;
  margin-top: 40px;
  &:before {
    content: "";

    position: absolute;
    left: 18px;
    top: 10px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/call-order.png);
  };
  &:hover::before {
    background-image: url(../img/call-order-hover.png);
  };
}

.question-order {
  position: relative;
  margin-left: 20px;
  margin-top: 40px;

  &:before {
    content: "";

    position: absolute;
    left: 20px;
    top: 9px;
    display: block;
    width: 12px;
    height: 17px;
    background-image: url(../img/q-order.png);
  };
  &:hover::before {
    background-image: url(../img/q-order-hover.png);
  };
}
